@import "../../styles/variables";

.text-processing-progress-main {
  height: 10px;
}

.text-processing-progress-job {
  height: 8px;
}

.text-processing-progress-width-dynamic {
  /* Dynamic width set via JavaScript */
}
