@import "../../styles/variables";

.settings-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-threshold-help {
  font-size: $font-size-sm;
}

.custom-prompt-textarea {
  font-size: 0.85rem;
}
