/**
 * Custom Badge Styles
 * 自定義徽章樣式
 */

@import "./variables";

.badge-custom {
  display: inline-block;
  padding: $spacing-2 14px;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  border-radius: 0.375rem;
  background-color: $color-white;
  border: 2px solid;
}

.badge-primary {
  border-color: $color-primary;
  color: $color-primary;
}

.badge-info {
  border-color: $color-info;
  color: $color-info;
}

.badge-success {
  border-color: $color-success;
  color: $color-success;
}

.badge-warning {
  border-color: $color-warning;
  color: $color-warning;
}
