/**
 * RTL (Right-to-Left) Layout Support for Arabic
 * Applied when language is set to 'ar' (Arabic)
 * 
 * This file handles the SCSS adjustments needed for RTL languages
 * Bootstrap provides some RTL support out of the box, this file
 * handles custom component RTL adjustments
 */

@import "./variables";

/* RTL Layout Container */
html[dir="rtl"] body.rtl-layout {
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] {
  .text-end {
    text-align: left !important;
  }

  .text-start {
    text-align: right !important;
  }

  .text-left {
    text-align: right !important;
  }

  .text-right {
    text-align: left !important;
  }

  /* Flexbox RTL Adjustments */
  .flex-row {
    flex-direction: row-reverse;
  }

  .gap-2 {
    gap: $spacing-2;
  }

  /* Margin RTL Adjustments */
  .me-2 {
    margin-right: auto;
    margin-left: $spacing-2;
  }

  .ms-2 {
    margin-left: auto;
    margin-right: $spacing-2;
  }

  .me-1 {
    margin-right: auto;
    margin-left: $spacing-1;
  }

  .ms-1 {
    margin-left: auto;
    margin-right: $spacing-1;
  }

  .ms-auto {
    margin-left: 0;
    margin-right: auto;
  }

  .ps-3 {
    padding-left: 0;
    padding-right: $spacing-3;
  }

  .ps-5 {
    padding-left: 0;
    padding-right: $spacing-12;
  }

  /* Navbar RTL Adjustments */
  .navbar-brand {
    margin-right: auto;
    margin-left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: $spacing-2;
    padding-left: $spacing-4;
  }

  /* Header Language Selector RTL */
  .language-selector {
    text-align: right;
  }

  .dropdown-menu {
    left: auto !important;
    right: 0 !important;
  }

  .dropdown-menu-end {
    left: 0 !important;
    right: auto !important;
  }

  /* Message Container RTL */
  .message-container {
    &.user {
      margin-left: 0;
      margin-right: 20%;
    }

    &.assistant {
      margin-right: 0;
      margin-left: 20%;
    }
  }

  /* Chat Input RTL */
  .chat-input {
    text-align: right;
  }

  /* Upload Screen RTL */
  .upload-tabs {
    flex-direction: row-reverse;
  }

  /* Workflow Stepper RTL */
  .workflow-stepper .d-flex {
    flex-direction: row-reverse;
  }

  .stepper-connector {
    transform: scaleX(-1);
  }

  /* Icon RTL Adjustments */
  .bi-chevron-right {
    transform: scaleX(-1);
  }

  .bi-chevron-left {
    transform: scaleX(-1);
  }

  .bi-arrow-right {
    transform: scaleX(-1);
  }

  .bi-arrow-left {
    transform: scaleX(-1);
  }
}
