/* Custom Badge Styles */
.badge-custom {
  display: inline-block;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.375rem;
  background-color: white;
  border: 2px solid;
}

.badge-primary {
  border-color: #0d6efd;
  color: #0d6efd;
}

.badge-info {
  border-color: #0dcaf0;
  color: #0dcaf0;
}

.badge-success {
  border-color: #198754;
  color: #198754;
}

.badge-warning {
  border-color: #ffc107;
  color: #ffc107;
}
