@import "../../styles/variables";
@import "../../styles/mixins";

.message-container {
  margin-bottom: $spacing-4;
  padding: $spacing-3;
  border-radius: $border-radius;

  &.user {
    background: #ebf8ff;
    margin-left: 20%;

    .message-role {
      color: #2b6cb0;
    }
  }

  &.assistant {
    background: $color-gray-50;
    margin-right: 20%;

    .message-role {
      color: $color-text;
    }
  }
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-2;
}

.message-role {
  font-weight: $font-weight-semibold;
  font-size: $font-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.message-time {
  font-size: 11px;
  color: $color-text-secondary;
}

.message-content {
  font-size: $font-size-sm;
  line-height: 1.6;
  color: $color-text;
  white-space: pre-wrap;
  word-wrap: break-word;

  &.cannot-answer {
    color: #9b2c2c;
    font-style: italic;
  }
}

.cannot-answer-note {
  margin-top: $spacing-2;
  padding: $spacing-2;
  background: #fff5f5;
  border-left: 3px solid #fc8181;
  font-size: $font-size-xs;
  color: #742a2a;
}
