@import "../../styles/variables";

.ai-chat-step {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; // 防止此層產生滾動條
}

.ai-chat-step-container {
  min-height: 400px;
  height: 100%;
}

.ai-chat-step-spinner {
  width: 3rem;
  height: 3rem;
}

.chat-container {
  flex: 1;
  overflow: hidden; // 只讓內部 messages-container 滾動
  display: flex;
  flex-direction: column;
}
